/* #region Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
/* #endregion */

/* #region Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.nav {
  display: flex;
  align-items: center;
  gap: 76px;
}
.logo-header {
  display: block;
  padding: 24px 0;
  color: #2E2F42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;text-transform: uppercase;
}

.web-header {
  color: #4D5AE5;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation a{
  display: block;
  padding: 24px 0;
  color: #2E2F42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation a:hover,
.navigation a:focus {
  color: #404bbf;
}

.navigation-link {
  position: relative;
}

.navigation-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  background-color: #404BBF;
  border-radius: 2px;

}

.navigation-link.navigation-link.active {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-list a{
  display: block;
  padding: 24px 0;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list a:hover,
.address-list a:focus {
  color: #404bbf;
}

/* #endregion */

/* #region Section Hero */

.hero-wraper {
  padding: 188px 0;
  display: block;
  max-width: 1440px;
  margin: 0 auto;

  background-color: #2E2F42;

  background-image:
  linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ),
  url(../images/hero/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.title-hero {
  max-width: 496px;
  margin: 0 auto 48px auto;

  font-weight: 700;
  color: #FFFFFF;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
}

.button-hero {
  padding: 16px 32px;

  display: block;
  margin: 0 auto;
  border-radius: 4px;
  border: none;

  color: #FFFFFF;
  background-color: #4D5AE5;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404BBF;
}

/* #endregion */

/* #region Section Features */

.features h2 {
  font-weight: 700;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 112px;

  background: #F4F4FD;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.features-icon {
  display: block;
}

.features h3 {
  color: #2E2F42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion */

/* #region Section Team */

.team {
  background-color: #F4F4FD;
  max-width: 1440px;
  margin: 0 auto;
}

.team h2 {
  margin-bottom: 72px;
  font-weight: 700;
  color: #2E2F42;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 
  0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 2px 1px rgba(46, 47, 66, 0.08);

}

.team-item img {
  display: block;
}

.team-card-content {
  padding: 32px 16px;
  text-align: center;
}

.team-name {
  margin-bottom: 8px;
  color: #2E2F42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-role {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: #4d5ae5;
  border-radius: 50%;
  color: #F4F4FD;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-link:hover,
.social-link:focus {
  background-color: #404BBF;
}

.social-link-icon {
  display: block;
  fill: currentColor;
}

/* #endregion */

/* #region Portfolio */

.portfolio h2 {
  margin-bottom: 72px;
  font-weight: 700;
  color: #2E2F42;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;

}

.portfolio-list h3 {
  margin-bottom: 8px;
  color: #2E2F42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-list p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-thumb
{
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;

  width: 100%;
  height: 100%;
  
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #F4F4FD;
  background-color: #4D5AE5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  .portfolio-item:hover .overlay,
  .portfolio-item:focus .overlay {
    transform: translateY(0);
  }
/* #endregion */

/* #region Footer */

.footer {
  background-color: #2E2F42;
  padding: 100px 0;
  color: #ffffff;
  max-width: 1440px;
  margin: 0 auto;
}

.logo-footer {
  color: #F4F4FD;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.web-footer {
  color: #4D5AE5;
}

.footer-title {
  width: 264px;
  margin-top: 16px;
  color: #F4F4FD;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 120px;
}

.footer-brand {
  margin-right: 0;
}

.footer-social-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 40px;
  height: 40px;

  background-color: #4d5ae5;
  border-radius: 50%;
  color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31D0AA;
}

/* #endregion */